*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    text-align: center;
    background: red;
}
.cabecalho{
    background-color:crimson;
    padding: 15px;
   
}
.botcabecalho{
    background-color: orangered;
    color:white;
    border-radius:10px;
    padding: 10px;
    margin: 30px;
    font-family:Arial, Helvetica, sans-serif;
}

.botcabecalho:hover{
    color: darkred;

}
    

.centralizar {
    text-align: center;
}

.fonte {
    font-family: Arial, Helvetica, sans-serif;
}

.margemtit {
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgtamanho {
    width: 25%;
    margin-top: 20px;
}

.imgtamanho2 {
    width: 35%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.fundocor {
    background-color: rgb(92, 158, 115);
}

.tamanho {
    font-size: 1.5em;
}

.margemtop {
    margin-top: 20px;
}

footer {
    background-color: red;
    margin-bottom: 0%;
}

.rede {
    text-align: center;
    background-color:crimson;
}

.insta {
    width: 30px;
    margin-right: 15px;
    margin-top: 5px;
}

.face {
    margin-top: 5px;
    width: 30px;
}

.endereco {
    color: white;
    margin-bottom: 7px;
}

.h2senai {
    color: white;
}

.fundobranco {
    background-color: white;
}